{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        <p><em>Tâche créée par {{ task.user.surname }} {{ task.user.firstname }}, le {{ task.createdAt | date("d/m/Y") }}</em></p>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Modifier</button>

        {{ form_end(form) }}

    </div>

{% endblock %}