{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <h2>Tâches :</h2>
    <div class="row">
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        <a href="{{ path('task_list') }}" class="btn btn-info">Ensemble des tâches</a>
        <a href="{{ path('taskTodo_list') }}" class="btn btn-warning">Tâches à faire</a>
        <a href="{{ path('taskDone_list') }}" class="btn btn-link">Tâches terminées</a>
    </div>

    {% if is_granted("ROLE_ADMIN")  %}
        <h2>Utilisateurs :</h2>
        <div class="row">
            <a href="{{ path('user_create') }}" class="btn btn-success">Créer un utilisateur</a>
            <a href="{{ path('user_list') }}" class="btn btn-info">Gérer les utilisateurs</a>
        </div>
    {% endif %}

{% endblock %}
